*{
   padding: 0;margin: 0;box-sizing: border-box; 
}

header{
    padding: 15px 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo{
    width: 113px;
    height: 48px;
}

nav{
    padding: 15px;
    display: flex;
    gap: 40px;
}

.nav_content{
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

.nav_content:hover{
    color: gray;
}