@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

header {
  padding: 15px 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 113px;
  height: 48px;
}

nav {
  padding: 15px;
  display: flex;
  gap: 40px;
}

.nav_content {
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  color: black;
  text-decoration: none;
}

.nav_content:hover {
  color: gray;
}

.location_container {
  background: url(./images/herobg.png);
  width: 100%;
  height: auto;
  padding: 64px 48px;
}

.content_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_text {
  font-size: 24px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 24px;
}

.pickup_location {
  width: 100%;
  height: auto;
  position: relative;
}

.pickup_input{
    width: 100%;
    border-radius: 8px;
    border: 0.5px solid rgb(178, 178, 178);
    padding: 28px 30px 28px 60px;
    font-size: 18px;
}

.location_form{
    width: 100%;
    height: auto;
    max-width: 600px;
}

.location_logo{
    height: 25px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}